.label {
  display: block;
  margin-top: 10px;
}

.input {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 12px;

  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.04em;

  border-radius: 10px;
  border: 2px solid rgba(140, 167, 2, 1);

  transition: border var(--transition), outline var(--transition);
}

.input:focus {
  border: 2px solid coral;
  outline: none;
}
